*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --classic: rgb(58, 66, 78);
  --darkgrey: rgb(36, 36, 36);
  --mediumgrey: rgb(28, 35, 46);
  --white: rgb(255, 255, 255);
  --lightgrey: rgb(99,100,104);
}
.keyboard__wrapper {
  max-width: 734px;
  min-height: 20px;
  margin: 0 auto;
}
.keyboard__input {
}
.keyboard__input-textarea {
  width: 100%;
}
.keyboard__btns {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding-top: 20px;
}
.keyboard__btns-line-1,
.keyboard__btns-line-2,
.keyboard__btns-line-3,
.keyboard__btns-line-4,
.keyboard__btns-line-5 {
  display: flex;
  flex-direction: row;
  gap: 0 6px;
}
.btn-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--classic);
  border-radius: 5px;
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}
.btn-medium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  background-color: var(--classic);
  border-radius: 5px;
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}
.btn-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: var(--classic);
  border-radius: 5px;
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}
.keyboard__btns-acute {
  background-color: var(--darkgrey);
}
.keyboard__btns-backspace {
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
}
.keyboard__btns-tab {
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
}
.keyboard__btns-del {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 40px;
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.keyboard__btns-capslock {
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
}
.keyboard__btns-enter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 40px;
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.keyboard__btns-left-shift {
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
}
.keyboard__btns-right-shift {
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
}
.keyboard__btns-space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 284px;
  height: 40px;
  background-color: var(--classic);
  color: var(--lightgrey);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.keyboard__btns-left-win {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}
.keyboard__btns-left-alt {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}
.keyboard__btns-right-alt {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}
.keyboard__btns-left-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 40px;
  background-color: var(--mediumgrey);
  color: var(--lightgrey);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.keyboard__btns-right-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 40px;
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.keyboard__btns-left-arrow,
.keyboard__btns-down-arrow,
.keyboard__btns-right-arrow,
.keyboard__btns-up-arrow {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
}
.btn-small:hover,
.btn-medium:hover,
.btn-big:hover,
.keyboard__btns-del:hover,
.keyboard__btns-enter:hover,
.keyboard__btns-left-shift:hover,
.keyboard__btns-space:hover,
.keyboard__btns-right-ctrl:hover,
.keyboard__btns-left-ctrl:hover {
  background-color: rgb(85, 113, 238);
}
.keyboard__btns-num-one {
}
.keyboard__btns-num-two {
}
.keyboard__btns-num-three {
}
.keyboard__btns-num-four {
}
.keyboard__btns-num-five {
}
.keyboard__btns-num-six {
}
.keyboard__btns-num-seven {
}
.keyboard__btns-num-eight {
}
.keyboard__btns-num-nine {
}
.keyboard__btns-num-zero {
}
.keyboard__btns-num-minus {
}
.keyboard__btns-num-equals {
}
.keyboard__btns-letter-q {
}
.keyboard__btns-letter-w {
}
.keyboard__btns-letter-e {
}
.keyboard__btns-letter-r {
}
.keyboard__btns-letter-t {
}
.keyboard__btns-letter-y {
}
.keyboard__btns-letter-u {
}
.keyboard__btns-letter-o {
}
.keyboard__btns-letter-p {
}
.keyboard__btns-letter-open-bracket {
}
.keyboard__btns-letter-close-bracket {
}
.keyboard__btns-letter-backslash {
}
.keyboard__btns-letter-a {
}
.keyboard__btns-letter-s {
}
.keyboard__btns-letter-d {
}
.keyboard__btns-letter-f {
}
.keyboard__btns-letter-g {
}
.keyboard__btns-letter-h {
}
.keyboard__btns-letter-j {
}
.keyboard__btns-letter-k {
}
.keyboard__btns-letter-l {
}
.keyboard__btns-semicolon {
}
.keyboard__btns-single-quote {
}
.keyboard__btns-letter-z {
}
.keyboard__btns-letter-x {
}
.keyboard__btns-letter-c {
}
.keyboard__btns-letter-v {
}
.keyboard__btns-letter-b {
}
.keyboard__btns-letter-n {
}
.keyboard__btns-letter-m {
}
.keyboard__btns-letter-comma {
}
.keyboard__btns-letter-dot {
}
