@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto;
}
:root {
  --classic: rgb(58, 66, 78);
  --darkgrey: rgb(36, 36, 36);
  --mediumgrey: rgb(28, 35, 46);
  --white: rgb(255, 255, 255);
  --lightgrey: rgb(99,100,104);
}
